
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'settings/variables';
@import 'modules/icons';
@import 'modules/page-header';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~primer-blankslate/index.scss";

.blankslate {
  background-color: #fff;
  border-radius: 0.25rem;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: #f8f9fa;
}

a.disabled,
a:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.dropdown-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn {
  white-space: nowrap;
}

// Footer partial
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; // Set the fixed height of the footer here
  line-height: 60px; // Vertically center the text there
  background-color: $gray-800;
}

.copyright {
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; // Set the fixed height of the footer here
  line-height: 60px; // Vertically center the text there
  background-color: $gray-800;
}

.copyright {
  color: #fff;
}

// html,
// body {
//  overflow-x: hidden; /* Prevent scroll on narrow devices */
// }

body {
  margin-bottom: 60px; // Margin bottom by footer height
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }