
// Body
$body-bg: #e6e3da;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$body-color: #48454B;

// Colors
$primary:       #709553;
$secondary:     #748d26;
$success:       #5cb85c;
$info:          #5bc0de;
$warning:       #f0ad4e;
$danger:        #d9534f;
$dropdown-border-width: 0;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Links
//
// Style anchor elements.

$link-color:                              $blue !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
